<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Game</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="title-container">
        <h1 class="title">Word Game</h1>

    </div>
    <div class="container">
        <div class="board">
            <form action="/newgame" method="GET">

                <div>
                    <button type="submit" class="newGame">Click for New Game!</button>
                </div>
            </form>

            <h2 class="message">{{#message}}{{.}}{{/message}}</h2>
            <form action="/word/guess" method="POST">
                <div class="input">
                    <label class="guessbox" for="Guess A Letter">Guess A Letter:</label><br>
                    <input class="guess" type="text" name="letterGuess" maxlength=1 pattern="[a-z]" required>
                    <button class="guessButton" type="submit">Guess</button>
                </div>
                <div>
                    <h3>{{#displayArray}}<span class="letterGuess"> {{.}} </span>{{/displayArray}}</h3>
                </div>
                {{#word}} {{#turns}}
                <h2 class="turns">Turns Left: {{.}}</h2>{{/turns}}
                <div class="board-header">
                    <h2 class="wrong">Wrong Guesses:</h2><br>
                </div>
                <div class="wrong-letter-container">
                    <p class="wrong-letter">{{#wrongGuesses}}{{.}}&nbsp;{{/wrongGuesses}}</p>
                </div>
                <p class="no-guess">{{^wrongGuesses}}{{/wrongGuesses}}</p>

            </form>
        </div>
    </div>
    {{/word}}
</body>

</html>