<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Game</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="title-container">
        <h1 class="title">Word Game</h1>
        <div>
            <form class="newGame" action="/word/newgame" method="GET">
                <button type="submit">New Game!</button>
        </div>
        </form>
    </div>
    <div class="container">
        <div class="board">
            {{#turns}}
            <h2 class="turns">Turns Left: {{.}}</h2>{{/turns}}
            <div class="board-header">
                <h2 class="wrong">Wrong Guesses:</h2><br>
            </div>
            <div class="wrong-letter-container">
                <p class="wrong-letter">{{#wrongGuesses}}{{.}}&nbsp;{{/wrongGuesses}}</p>
            </div>
            <p class="no-guess">{{^wrongGuesses}}No Guesses Yet {{/wrongGuesses}}</p>
            <form action="/word/guess" method="POST">
                <div>
                    <h3>{{#displayArray}}<span class="letterGuess"> {{.}} </span>{{/displayArray}}</h3>
                </div>
                <input type="text" name="letterGuess" placeholder="Guess A Letter" maxlength=1 required>
                <button type="submit">Guess</button> {{#word}}


            </form>
        </div>
    </div>
    {{/word}}
</body>

</html>