<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Game</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h1>Word Game</h1>
    <div>
        <form action="/word/newgame" method="GET">
            <button type="submit">New Game!</button>

        </form>
    </div>

    <form action="/word/guess" method="POST">
        <input type="text" name="letterGuess" placeholder="Guess A Letter" maxlength=1 required>
        <button type="submit">Guess</button> {{#word}}
        <div>

            <h2>{{#message}}{{.}}{{/message}}</h2>
            {{#turns}}
            <h5>Turns: {{.}}</h5>{{/turns}}
        </div>
        <div>
            <h3>{{#displayArray}}<span class="letter"> {{.}} </span>{{/displayArray}}</h3>
        </div>

        <h6>Wrong Guesses</h6>
        {{#wrongGuesses}}{{.}}{{/wrongGuesses}} {{^wrongGuesses}}No Guesses Yet {{/wrongGuesses}} {{/word}}
    </form>
</body>

</html>