<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Game</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="title-container">
        <h1 class="title">Word Game</h1>

    </div>
    <div class="container">
        <div class="board">



            <div>
                <a class="newGame" href="/newgame">Click to Play!</a>
            </div>


        </div>
    </div>

</body>

</html>