body {
    margin: 0;
    font-family: 'Fredericka the Great', cursive;
    background-color: lightgray;
    /* font-family: 'Permanent Marker', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Fredericka the Great', cursive; */
}

.title {
    text-align: center;
    color: green;
    font-size: 3rem;
}

.newGame {
    display: flex;
    justify-content: flex-start;
    color: blue;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.container {
    background: url(chalkboard.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1000px;
    height: 900px;
    display: flex;
    justify-content: center;
    margin: 16px 150px;
}

.board {
    margin-top: 50px;
    width: 800px;
}

.letterGuess {
    font-family: 'Cabin Sketch', cursive;
    color: white;
    font-size: 3.5rem;
}

.board-header {
    display: flex;
    justify-content: flex-start;
}

.turns {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-size: 1.5rem;
    float: right;
    margin-right: 41px;
    border: 2px dashed;
    padding: 8px;
}

.wrong {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-size: 1.5rem;
    border: 2px dashed;
    padding: 8px;
    margin-left: 11px;
}

.wrong-letter-container {
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
    width: 400px;
    text-align: left
}

.wrong-letter {
    font-family: 'Cabin Sketch', cursive;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 55px;
    margin-left: 25px;
}

.no-guess {
    font-family: 'Cabin Sketch', cursive;
    color: white;
    font-size: 1rem;
    margin: -15px 45px 20px;
}

.guessbox {
    width: 150px;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 110px;
}

.guess {
    width: 50px;
    background-color: transparent;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5rem;
    padding: 10px;
    border: 2px dashed white;
    margin: 13px 0px 70px 56px;
}

.guess:outline {
    display: none;
}

.guess::placeholder {
    color: white;
    font-size: 1rem;
}

.guessButton {
    display: none;
}

.message {
    color: red;
    float: right;
}